<div class="container-fluid">
  <p class="h3 p-3">{{ animeDetail.name }}</p>
  <div class="row">
    <div class="col">
      
      <dl>
       
        <dt><b>Description</b></dt>
        <dd>{{ animeDetail.description }}</dd>
        <hr />
        <dt><b>Rating ⭐</b></dt>
        <dd>{{ animeDetail.Rating }}</dd>
        <hr />
        <dt><b>Studio</b></dt>
        <dd >{{ animeDetail.studio }}</dd>
        <hr />
        <dt class="bold">Number of episodes</dt>
        <dd>{{ animeDetail.episode }}</dd>
      </dl>
    </div>
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ animeDetail.img }}"
          alt="{{ animeDetail.name }}"
        />
      </div>
    </div>
 
  </div>
 </div>
